.list {
	list-style: none;
}

.list li {
	display: inline;
}

.coverage {
	position: absolute;
	top: 30%;
	min-width: 100%;
	z-index: 3;
	font-size: 40px;
}

.content {
	z-index: 4;
	left: 50%;
	position: absolute;
	top: 30%;
	max-width: 100%;
}

.submain {
	left: -50%;
	position: relative;
}

.list p {
	display: inline;
	color: black;
	font-family: 'Raleway', serif;
	font-size: 32px;
}

.link {
	font-family: 'Raleway', serif;
	font-size: 40px;
	color: black;
}

.menu .link {
	font-family: 'Raleway', serif;
	font-size: 16px;
	border-bottom: 2px solid lightgrey;
	padding-bottom: 2%;
}

.menu .link:HOVER {
	border-bottom: 2px solid #FF8D05;
	text-decoration: none;
}

.menu p {
	font-size: 18px;
	color: #585755;
}

.submain .link:HOVER {
	text-decoration: none;
	border-bottom: 2px solid #FF8D05;
	padding-bottom: 2%;
}

.logo {
	max-height: 100px;
}

.header {
	text-align: center;
	left: 50%;
	margin-top: 2%;
	margin-bottom: 0%;
	z-index: 1;
	position: absolute;
}

.subheader {
	left: -50%;
	position: relative;
}

.overlay {
	background: white;
	background: -webkit-linear-gradient(lightgrey, white, white, white);
	background: -o-linear-gradient(lightgrey, white, white, white);
	background: -moz-linear-gradient(lightgrey, white, white, white);
	background: linear-gradient(lightgrey, white, white, white);
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
}

.main {
	z-index: 2;
	background-color: #ffffff;
	/* background: url("../images/home.png") no-repeat center; */
	margin-bottom: 0px;
	min-height: 100%;
	max-height: 100%;
	overflow: hidden;
	border-width: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

.preview {
	z-index: 3;
	bottom: 0px;
	top: 45%;
	min-width: 100%;
	position: absolute;
	min-height: 50%;
}

.previewcontent {
	background: #ffffff;
	opacity: 0.6;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	bottom: 0;
	top: 0;
	height: 100%;
	overflow: hidden;
}

.foot {
	z-index: 10;
	font-family: 'Raleway', serif;
	color: black;
	font-size: 14px;
	margin-bottom: 0px;
	bottom: 0%;
	text-align: center;
	position: fixed;
	left: 50%;
}

.foot p {
	left: -50%;
	position: relative;
}

.foot a {
	color: #000000;
	text-decoration: underline;
}

.foot a:HOVER {
	background-color: lightgrey;
}

.images {
	border: 0;
	right: 0;
	left: 0;
	min-height: 100%;
}

.column {
	max-width: 33.1%;
	display: inline-table;
	right: 0;
	left: 0;
}

.column img {
	max-width: 100%;
	min-width: 100%;
	border: 0;
	right: 0;
	left: 0;
	position: relative;
}

.menu {
	position: fixed;
	color: black;
	right: 0;
	top: 2%;
}