<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Daftar Belanja</title>
<link href='https://fonts.googleapis.com/css?family=Raleway'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Noto+Sans'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Alegreya'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="cupumanik-style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="../javascript/accounting.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#main-order-list').find('.order-item').each(function() {
			$(this).find('.order-single-price').each(function() {
				var singlePrice = Number($(this).text());
				$(this).text(accounting.formatNumber(singlePrice, 2, '.', ','));
			});
			calculateItemPrice(this);
		});
		
		var mainTable = $('#main-order-list');
		calculateTotalPrice(mainTable);		

		$('.order-qty').change(function() {
			var parenttr = $(this).closest('.order-item');
			calculateItemPrice(parenttr);
			var mainTable = $('#main-order-list');
			calculateTotalPrice(mainTable);	
		});
	});
	
	
	function calculateItemPrice(itemtr)
	{
		var singlePrice = accounting.unformat($(itemtr).find('.order-single-price').first().text(), ',');
		var orderQty = Number($(itemtr).find('.order-qty').val());
		var itemPrice = singlePrice * orderQty;
		$(itemtr).find('.order-item-price').first().text(accounting.formatNumber(itemPrice, 2, '.', ','))
	}
	
	function calculateTotalPrice(parentTable)
	{
		var totalPrice = 0;
		$(parentTable).find('.order-item-price').each(function() {
			var itemPrice = accounting.unformat($(this).text(), ',');
			totalPrice += itemPrice;
		});
		$(parentTable).find('.order-total-price').text(accounting.formatNumber(totalPrice, 2, '.', ','));
	}
	
</script>
</head>
<body>
	<div class="navbar navbar-default navbar-small navbar-fixed-top">
		<div class="container">
			<div class="navbar-brand pull-left">
				<a href="#home"> 
					<img class="logo" src="../assets/logo-black.png" style="height: 40px" />
				</a>
			</div>
			<button type="button" class="navbar-toggle pull-right"
				data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<div class="navbar-collapse collapse pull-right">
				<ul class="nav navbar-nav nav-menu">
					<li><a href="#category1">BATIK PRIA</a></li>
					<li><a href="#category2">BATIK WANITA</a></li>
					<li><a href="#shoppinglist">DAFTAR BELANJA <strong>(0)</strong></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main-body">
		<h2 class="main-title">Daftar Belanja Anda</h2>
		<br />
		<table id="main-order-list" class="order-list table table-condensed table-striped">
			<colgroup>
				<col class="col-xs-1" />
				<col class="col-xs-5" />
				<col class="col-xs-2" />
				<col class="col-xs-2" />
				<col class="col-xs-2" />
			</colgroup>
			<thead>
				<tr>
					<th>No.</th>
					<th>Nama Barang</th>
					<th>Satuan</th>
					<th>Jumlah</th>
					<th>Harga</th>
				</tr>
			</thead>
			<tbody>
				<tr class="order-item">
					<td class="number-cell">1</td>
					<td>Dasi Batik</td>
					<td class="price-cell"><span class="currency">Rp</span><span
						class="amount order-single-price">103000</span></td>
					<td><input type="number" min="1" max="20"
						step="1" value="3" class="order-qty form-control" /></td>
					<td class="price-cell"><span class="currency">Rp</span><span
						class="amount order-item-price"></span></td>
				</tr>
				<tr class="order-item">
					<td class="number-cell">2</td>
					<td>Jas Batik</td>
					<td class="price-cell"><span class="currency">Rp</span><span
						class="amount order-single-price">1820000</span></td>
					<td><input type="number" min="1" max="20"
						step="1" value="1" class="order-qty form-control" /></td>
					<td class="price-cell"><span class="currency">Rp</span><span
						class="amount order-item-price"></span></td>
				</tr>
				<tr class="order-item">
					<td class="number-cell">3</td>
					<td>Mini Skirt Batik</td>
					<td class="price-cell"><span class="currency">Rp</span><span
						class="amount order-single-price">275000</span></td>
					<td><input type="number" min="1" max="20"
						step="1" value="2" class="order-qty form-control" /></td>
					<td class="price-cell"><span class="currency">Rp</span><span
						class="amount order-item-price"></span></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>&nbsp;</th>
					<th colspan="3">Total</th>
					<th class="price-cell"><span class="currency">Rp</span><span
						class="amount order-total-price"></span></th>
				</tr>
			</tfoot>
		</table>
		<br />
		<button role="submit" id="btn-order" data-toggle="modal" data-target="#order-modal" class="btn btn-info">Pesan</button>
		<br />
		<p class="order-info">* Sebelum memesan, pastikan pesanan anda
			sudah benar. Anda tidak bisa lagi mengubah pesanan anda setelah
			melakukan proses pemesanan</p>
	</div>

	<div id="order-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title main-title">Form Pemesanan</h4>
				</div>
				<div class="modal-body">
					<div id="form-order">
						<table class="order-list table table-condensed table-striped">
							<colgroup>
								<col class="col-xs-1" />
								<col class="col-xs-3" />
								<col class="col-xs-3" />
								<col class="col-xs-2" />
								<col class="col-xs-3" />
							</colgroup>
							<thead>
								<tr>
									<th>No.</th>
									<th>Nama Barang</th>
									<th>Satuan</th>
									<th>Jumlah</th>
									<th>Harga</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="number-cell">1</td>
									<td>Dasi Batik</td>
									<td class="price-cell"><span class="currency">Rp</span><span
										class="amount">103000</span></td>
									<td>3</td>
									<td class="price-cell"><span class="currency">Rp</span><span
										class="amount">309000</span></td>
								</tr>
								<tr>
									<td class="number-cell">2</td>
									<td>Jas Batik</td>
									<td class="price-cell"><span class="currency">Rp</span><span
										class="amount">1820000</span></td>
									<td>1</td>
									<td class="price-cell"><span class="currency">Rp</span><span
										class="amount">1820000</span></td>
								</tr>
								<tr>
									<td class="number-cell">3</td>
									<td>Mini Skirt Batik</td>
									<td class="price-cell"><span class="currency">Rp</span><span
										class="amount">275000</span></td>
									<td>2</td>
									<td class="price-cell"><span class="currency">Rp</span><span
										class="amount">550000</span></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th>&nbsp;</th>
									<th colspan="3">Total</th>
									<th class="price-cell"><span class="currency">Rp</span><span
										class="amount">2679000</span></th>
								</tr>
							</tfoot>
						</table>
						<hr/>
						<h5 class="main-title">Isikan data diri anda</h5>
						<form>
							<div class="row">
								<label class="col-sm-3 col-xs-12">Nama Lengkap <span class="important-mark">*</span></label>
								<input type="text" class="col-sm-9 col-xs-12" name="customer-name" required />
							</div>
							<div class="row">
								<label class="col-sm-3 col-xs-12">Alamat Pengiriman <span class="important-mark">*</span></label>
								<input type="text" class="col-sm-9 col-xs-12" name="customer-address" required />
							</div>
							<div class="row">
								<label class="col-sm-3 col-xs-12">Nomor Telepon/HP</label>
								<input type="text" class="col-sm-9 col-xs-12" name="customer-phone" />
							</div>
							<div class="row">
								<label class="col-sm-3 col-xs-12">Email <span class="important-mark">*</span></label>
								<input type="text" class="col-sm-9 col-xs-12" name="customer-email" required />
							</div>
							<div class="row">
								<label class="col-sm-3 col-xs-12">Keterangan/Informasi Tambahan</label>
								<textarea rows="4" class="col-sm-9 col-xs-12" id="customer-note"></textarea>
							</div>
						</form>
					</div>
					<div id="order-confirmation">
						<h5 class="main-title"></h5>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="btn-submit" class="btn btn-info" data-dismiss="modal">Batal</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
				</div>
			</div>

		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="inner-container">
				<div class="footer-info row">
					<div class="shop-footer shop-info col-md-4 col-xs-12">
						<img class="logo" src="../assets/logo-white.png"
							style="height: 60px" />
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
							varius tellus orci, nec pharetra sapien aliquet sit amet. Nam
							suscipit velit non condimentum sollicitudin. Nunc posuere ac est
							nec accumsan. Class aptent taciti sociosqu ad litora torquent per
							conubia nostra, per inceptos himenaeos.</p>
						<ul>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<i class="fa fa-phone fa-2x"></i>
									</div>
									<div class="col-xs-10">0888888888888888</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<i class="fa fa-envelope fa-2x"></i>
									</div>
									<div class="col-xs-10">
										<a href="mailto:info@cupumanik.co.id">info@cupumanik.co.id</a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<i class="fa fa-facebook fa-2x"></i>
									</div>
									<div class="col-xs-10">
										<a href="http://www.facebook.com/cupumanik">Cupumanik
											Batik</a>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-2">
										<i class="fa fa-twitter fa-2x"></i>
									</div>
									<div class="col-xs-10">
										<a href="http://www.twitter.com/cupumanikbatik">@cupumanikbatik</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="shop-footer shop-nav col-md-3 col-xs-12">
						<h3>Kategori</h3>
						<ul>
							<li><a href="#BatikPria">Batik Pria</a></li>
							<li><a href="#BatikWanita">Batik Wanita</a></li>
						</ul>
						<h3>Lihat Pula</h3>
						<ul>
							<li><a href="#CupumanikGuesthouse">Cupumanik Guest House</a></li>
							<li><a href="#CupumanikFurniture">Cupumanik Furniture</a></li>
						</ul>
					</div>
					<div class="shop-footer shop-map col-md-5 col-xs-12">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.285349342276!2d110.38723571437622!3d-7.7595316791016025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a59af47e65003%3A0xdf8e8c7fb3dcee6e!2sCupumanik+Batik!5e0!3m2!1sen!2sid!4v1449979825410"
							width="100%" height="300" frameborder="0" style="border: 0"
							allowfullscreen></iframe>
						<h4>Alamat</h4>
						<p>
							Jl. Ring Road Utara No.4A, Kec. Depok, Sleman, <br /> Daerah
							Istimewa Yogyakarta 55283, Indonesia
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-info">
			<p>
				Copyright &copy; 2015 <a
					href="https://www.facebook.com/theodorus.yoga" target="_blank">T&S
					Design and Program Team</a>
			</p>
			<p>This site uses Font Awesome by Dave Gandy -
				http://fontawesome.io</p>
		</div>
	</div>

</body>
</html>