@CHARSET "ISO-8859-1";

body {
	padding-top: 30px;
	overflow-y: auto;
}

body p,table,td,th,button,input,textarea,select,option,h3,h2,small,ul,li,div{
	font-family: 'Raleway', 'Serif';
}

/*.navbar-default {
	min-height: 40px !important;
}*/

/* navbar */
time.icon {
	font-size: 1em; /* change icon size */
	display: block;
	position: relative;
	width: 7em;
	height: 8.5em;
	background-color: #fff;
	border-radius: 0.6em;
	box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff,
		0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
	overflow: hidden;
}

time.icon * {
	display: block;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

time.icon strong {
	position: absolute;
	top: 0;
	padding: 0.4em 0;
	color: #fff;
	background-color: #003366;
	border-bottom: 1px dashed #f37302;
	box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em {
	position: absolute;
	bottom: 0.3em;
	color: #003366;
}

time.icon span {
	font-size: 2.8em;
	letter-spacing: -0.05em;
	padding-top: 1.3em;
	color: #003366;
}

.timeclock {
	padding-top: 10px;
}

.timeclock .hour {
	display: inline;
	font: 'Raleway', serif;
	font-size: 28px;
	font-weight: bold;
	/* background: #E2E4F3; */
	padding-left: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 3%;
	color: #FFFFFF;
	border-color: grey;
	border-radius: 10px;
	box-shadow: 1px 2px 0px rgba(243, 115, 2, 1);
	/* gradient */
	background: -webkit-repeating-linear-gradient(rgba(0, 51, 102, 1),
		rgba(84, 116, 139, 1) 30%, rgba(0, 51, 102, 1));
	/* Opera 11.1 to 12.0 */
	background: -o-repeating-linear-gradient(rgba(0, 51, 102, 1),
		rgba(84, 116, 139, 1) 30%, rgba(0, 51, 102, 1));
	/* Firefox 3.6 to 15 */
	background: -moz-repeating-linear-gradient(rgba(0, 51, 102, 1),
		rgba(84, 116, 139, 1) 30%, rgba(0, 51, 102, 1));
	/* Standard syntax */
	background: repeating-linear-gradient(rgba(0, 51, 102, 1),
		rgba(84, 116, 139, 1) 30%, rgba(0, 51, 102, 1));
}

.timeclock span {
	font: 'Raleway', serif;
	font-size: 24px;
	margin-right: -1%;
	margin-left: -1%;
}

.timeclock .minute {
	display: inline;
	font: 'Raleway', serif;
	font-size: 28px;
	font-weight: bold;
	/* background: #E2E4F3; */
	padding-left: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 3%;
	color: #FFFFFF;
	border-color: grey;
	border-radius: 10px;
	box-shadow: 1px 2px 0px rgba(243, 115, 2, 1);
	/* gradient */
	background: -webkit-repeating-linear-gradient(rgba(0, 51, 102, 1),
		rgba(84, 116, 139, 1) 30%, rgba(0, 51, 102, 1));
	/* Opera 11.1 to 12.0 */
	background: -o-repeating-linear-gradient(rgba(0, 51, 102, 1),
		rgba(84, 116, 139, 1) 30%, rgba(0, 51, 102, 1));
	/* Firefox 3.6 to 15 */
	background: -moz-repeating-linear-gradient(rgba(0, 51, 102, 1),
		rgba(84, 116, 139, 1) 30%, rgba(0, 51, 102, 1));
	/* Standard syntax */
	background: repeating-linear-gradient(rgba(0, 51, 102, 1),
		rgba(84, 116, 139, 1) 30%, rgba(0, 51, 102, 1));
}

.navbar-default .container {
	max-width: 1100px;
	border: none;
}

.navbar-brand {
	/*height: 40px !important;*/
	padding: 5px 5% !important;
	margin-left: 0 !important;
}

.navbar-collapse {
	padding-left: 5% !important;
	padding-right: 5% !important;
	/*overflow: hidden;*/
}

.nav-menu {
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	width: auto;
	list-style-type: none;
}

.nav-menu li {
	display: inline-block;
}

.nav-menu li a {
	display: block;
	color: black !important;
	text-align: center;
	/*padding: 10px 15px !important;*/
	text-decoration: none;
	font-family: 'Raleway', serif;
	border-bottom: 3px solid #f8f8f8;
}

.nav-menu li a:hover {
	border-bottom: 3px solid #E73525;
}

.nav-menu li:last-child {
	/* border-left: 2px solid #bbb;
	border-right: 2px solid #bbb; */
	
}

.nav-menu li:last-child a, .nav-menu li:last-child a:visited, .nav-menu li:last-child a:active
	{
	background-color: #1D0E11 !important;
	border-bottom: 3px solid #1D0E11 !important;
	color: #fff !important;
}

.nav-menu li:last-child a:hover {
	background-color: #E73525 !important;
}

/* banner */
.banner-bg {
	width: 100%;
	height: 0;
	padding-top: 600px;
}

#banner-1 {
	background: url('../images/LM-EAST-NIGHT.jpg') no-repeat center fixed;
	background-size: cover;
}

#banner-2 {
	background: url('../images/LM-EAST-NIGHT.jpg') no-repeat center fixed;
	background-size: cover;
}

#banner-3 {
	background: url('../images/LM-EAST-NIGHT.jpg') no-repeat center fixed;
	background-size: cover;
}

#home-banner {
	background: #241811;
}

.main-body {
	padding: 0 5% !important;
	max-width: 1100px !important;
	margin: 0 auto;
}

#home-content {
	padding: 0 5% !important;
	margin: 0 auto;
}

#banner-content {
	padding: 50px 20px;
	background-color: rgba(5, 5, 5, 0.9);
	margin-top: -600px;
	min-height: 600px;
	color: #fff;
	font-family: 'Raleway', Serif;
}

#banner-content h3 {
	font-weight: 700;
}

#banner-content p {
	font-wight: 300;
	font-size: 110%;
}

#banner-empty {
	height: 0;
}

#separator {
	display: block;
	height: 3px;
	border: 0;
	border-top: 2px solid #E73525;
	margin: 1em 0;
	padding: 0;
}

.input-group input {
	border: none !important;
	border-radius: 0 !important;
}

.input-group button {
	height: 34px;
}

.product-title {
	font-family: 'Alegreya', Georgia;
	color: #fff;
}

.product-price {
	font-family: 'Noto Sans', Helvetica;
	font-weight: 500;
	font-size: 120%;
	color: #f55;
}

.product-description {
	font-family: 'Noto Sans', Helvetica;
	color: #1D0E11;
	font-size: 110%;
}

.product-stock {
	font-family: 'Raleway', Serif;
	font-size: 130%;
}

.product-detail {
	
}

.carousel-text {
	bottom: 100px !important;
}

.btn {
	border: none !important;
	border-radius: 0 !important;
	font-family: 'Raleway', Serif;
}

.btn-info {
	background-color: #E73525 !important;
}

.input-group-addon {
	background-color: #E73525 !important;
	color: white !important;
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.bootstrap-datetimepicker-widget {
	color: #000 !important;
}

.btn:disabled {
	background-color: #1D0E11 !important;
	cursor: default !important;
}

/*.carousel-inner img {
	height: 500px !important;
}*/
.product-list-container {
	padding: 20px 0;
	margin: 0 auto;
}

.list-title, .main-title {
	font-family: 'Raleway', serif;
	margin-left: 0 !important;
}

.product-list {
	margin: 0 -5px !important;
}

.product-item {
	padding: 5px !important;
	cursor: pointer;
}

.product-info, .product-info-small {
	display: table;
	width: 100%;
	text-decoration: none !important;
	height: 250px;
	vertical-align: middle;
	/*background-color: rgba(5, 5, 5, 0.9);	*/
}

.product-info-small {
	padding-top: 180px;
}

.product-item span {
	display: table-cell;
	margin: auto;
	background-color: rgba(5, 5, 5, 0.9);
	vertical-align: middle;
}

.product-info span {
	line-height: 250px !important;
}

.product-info-small span {
	line-height: 60px !important;
}

.product-item h3, .product-item h5 {
	margin: 0;
	padding: 5px;
	text-align: center;
}

.product-item h3 {
	font-size: 150%;
}

.product-item-inner {
	height: 200px;
}

.product-image {
	padding-top: 120%;
}

.product-gallery {
	padding: 10px !important;
}

.product-gallery-item {
	height: 50px;
	max-width: 50px;
	margin: 0 5px !important;
	cursor: pointer;
}

.selected {
	border-bottom: 5px solid #E73525 !important;
}

.facilities-icon {
	height: 125px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.facilities-icon i {
	margin: 0 auto;
	line-height: 75px;
}

.facilities-icon label {
	margin: 0 auto;
	line-height: 50px;
	white-space: nowrap;
	vertical-align: top center;
}

.facilities-desc {
	height: 200px;
	font-family: 'Noto Sans', Helvetica;
	font-size: 130%;
	text-align: center;
}

.facilities-desc p {
	padding-top: 75px;
	padding-bottom: 0;
}

.product-header h2 {
	color: #E73525;
	margin: 0;
}

.product-header h3 {
	margin: 10px 0;
}

#order-box {
	width: 350px;
}

.order-qty {
	text-align: center;
	margin: auto;
}

.order-qty-edit {
	width: 100px !important;
	height: 36px !important;
	border-radius: none !important;
	border: 1px solid #A6AEC1 !important;
	background: #EDEDF2;
	font-weight: 700;
	margin: 0 auto;
}

.order-list {
	font-family: 'Noto Sans', Helvetica;
	font-size: 110%;
	margin: 20px 0 !important;
}

.order-list>thead>tr>th {
	text-align: center;
}

.form-order .order-list>thead>tr>th, .form-order .order-list>tbody>tr>td,
	.form-order .order-list>tfoot>tr>th {
	padding: 3px;
}

.order-info {
	font-family: 'Noto Sans', Helvetica;
}

.important-mark {
	color: red;
	font-weight: 700;
}

.number-cell {
	max-width: 30px;
	text-align: center;
}

.price-cell {
	max-width: 150px;
	width: auto;
}

.price-cell .currency {
	text-align: left;
}

.price-cell .amount {
	float: right;
}

#order-modal form {
	font-family: 'Noto Sans', Helvetica !important;
	font-weight: 400 !important;
}

#order-confirmation p, label, small {
	font-family: 'Noto Sans', Helvetica !important;
}

#order-confirmation h2 {
	text-align: center !important;
	font-weight: 500 !important;
	width: 100%;
}

#order-modal .form-control {
	min-width: 100px !important;
}

#order-modal .order-list {
	font-size: 105%;
}

.footer {
	font-family: 'Noto Sans', Helvetica;
	color: #fff;
	margin-top: 20px;
}

.footer h3, .footer h4 {
	font-family: 'Raleway', Serif;
}

.footer ul {
	padding-left: 0 !important;
}

.footer li {
	list-style-type: none;
	display: block;
	padding: 2px 0;
	font-size: 110%;
	vertical-align: middle;
}

.footer a {
	color: white;
}

.footer a:hover {
	color: #f8f8f8;
}

.footer .container {
	background-color: #E73525;
	margin: 0 !important;
	width: 100%;
	padding: 30px 0;
}

.footer-info {
	
}

.inner-container {
	width: 100%;
	max-width: 1100px;
	padding: 0 5%;
	margin: 0 auto;
}

.shop-footer {
	width: 100%;
}

.shop-info p {
	padding: 10px 0;
	font-size: 105%;
}

.shop-nav li a, .shop-map p {
	font-size: 105%;
	font-weight: 300;
}

.copyright-info {
	background-color: #1D0E11;
	padding: 15px 0;
}

.copyright-info p {
	margin: 0 auto;
	max-width: 1100px;
	padding: 0 5%;
	font-family: 'Raleway', Serif;
	font-size: 90%;
}

.admin-body {
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

a:ACTIVE{
	text-decoration: none;
}

.roomoption:HOVER{
	text-decoration: none;
	color: white;
	background-color: #FE7C60;
}

.roomoption {
	padding-left: 15%;
	display: block;
	min-height: 100px !IMPORTANT;
	height: 120px;
	width: 50%;
	color: white;
	/* background-color: #E84B3A; */
	margin-bottom: 3%;
	float: left;
	display: inline;
}

.roomoption .okicon{
	color: white;
	position:relative;
	float: left;
	left: -35%;
	padding-top: 5%;
	overflow: hidden;	
	visibility: hidden;
}

.roomoption .bigicon{
	min-height: 60px;
	font-size: 50px;
	color: white;
	padding-top: 20%;
}

.roomoption:FOCUS{
	color: white;
	text-decoration: none !IMPORTANT;
}

.roomoption .optionmsg{
	margin-left: -2%;
}

.options{
	margin-top: -6%;
}